@page "/InvoiceListing"

@using System.Text.Json;
@using System.IO
@using ClosedXML.Excel;
@using ICV2_Web.JSHelper
@attribute [Authorize(Roles = "Administrator,User")]
@implements IDisposable
@inject AppState AppState
@inject HttpClient http
@inject IJSRuntime js
@if (AppState.CompanyReady())
{
    <div class="card">
        @if (formModel != null)
        {
            <EditForm Model="formModel" OnSubmit="GenerateReport">
                <div class="card-header bg-secondary text-white">
                    Invoice Listing
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="datefrom" class="col-sm-2 col-form-label">Date from</label>
                        <div class="col-sm-10">
                            <InputDate id="datefrom" @bind-Value="formModel.DateFrom" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dateTo" class="col-sm-2 col-form-label">Date to</label>
                        <div class="col-sm-10">
                            <InputDate id="dateTo" @bind-Value="formModel.DateTo" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="stockgRoup" class="col-sm-2 col-form-label">Customer Code</label>
                        <div class="col-sm-10">
                            <InputSelect id="stockgRoup" @bind-Value="formModel.DebtortId" class="form-control">
                                <option value="%%">All</option>
                                @if (debtors is not null)
                                        {
                                    @foreach (var item in debtors)
                                            {
                                        <option value="@item.Id">@item.CompanyName</option>
                                            }
                                        }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="areaselect" class="col-sm-2 col-form-label">Area</label>
                        <div class="col-sm-10">
                            <InputSelect id="areaselect" @bind-Value="formModel.AreaId" class="form-control">
                                <option value="%%">All</option>
                                @if (area is not null)
                                        {
                                    @foreach (var item in area)
                                            {
                                        <option value="@item.Id">@item.Description</option>
                                            }
                                        }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="salesperson" class="col-sm-2 col-form-label">Sales Rep. Code</label>
                        <div class="col-sm-10">
                            <InputSelect id="salesperson" @bind-Value="formModel.SalesPersonId" class="form-control">
                                <option value="%%">All</option>
                                @if (salesPersons is not null)
                                        {
                                    @foreach (var item in salesPersons)
                                            {
                                        <option value="@item.Id">@item.StaffCode</option>
                                            }
                                        }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="debtcategory" class="col-sm-2 col-form-label">Customer Category</label>
                        <div class="col-sm-10">
                            <InputSelect id="debtcategory" @bind-Value="formModel.DebtorCategoryId" class="form-control">
                                <option value="%%">All</option>
                                @if (debtorCategories is not null)
                                        {
                                    @foreach (var item in debtorCategories)
                                            {
                                        <option value="@item.Id">@item.Description</option>
                                            }
                                        }
                            </InputSelect>
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-info">Generate Report</button>
                    </div>
                </div>
            </EditForm>
        }
    </div>
}
else
{
    <div class="col-6">
        <h4 class="alert alert-info text-center shadow">SELECT COMPANY FIRST</h4>
    </div>
}
@code {


        INVOICEMATCHLISTINGFILTER formModel = new();

    private List<Debtors> debtors { get; set; }
    private List<Areas> area { get; set; }
    private List<DebtorCategory> debtorCategories { get; set; }
    private List<SalesPersons> salesPersons { get; set; }
    private List<Company> companies { get; set; }
    //private List<CUSTOMERSTATEMENTRESULT> cUSTOMERSTATEMENTRESULTs = new();


    private async Task GenerateReport()
    {
        formModel.CompanyCode = AppState.selectedCompanyCode;
        var httpRequest = await http.PostAsJsonAsync("api/Report/GenerateInvoiceMatchListing", formModel);

        if (httpRequest.IsSuccessStatusCode)
        {
            var responseString = await httpRequest.Content.ReadAsStringAsync();

            //Console.WriteLine(responseString);
            var data = JsonSerializer.Deserialize<List<INVOICEMATCHLISTING>>(responseString,
              new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

            await GenerateExcel(data);

        }
    }

    private async Task GenerateExcel(List<INVOICEMATCHLISTING> list)
    {
        string PayToCompany = companies.Where(y => y.Code == formModel.CompanyCode).Select(x => x.Name).First();

        IXLAddress AMOUNT_BEGIN_CELL;
        IXLAddress AMOUNT_END_CELL;
        IXLAddress BALANCE_BEGIN_CELL;
        IXLAddress BALANCE_END_CELL;
        IXLAddress MATCHEDAMOUNT_BEGIN_CELL;
        IXLAddress MATCHEDAMOUNT_END_CELL;

        list = list.OrderBy(i => i.INVOICEDATE).ToList();

        using (XLWorkbook wb = new XLWorkbook())
        {
            if (list.Count() > 0)
            {
                IXLWorksheet ws = wb.Worksheets.Add("Invoice Matching Listing");

                IXLCell cell;
                int rowNumber = 0;
                cell = ws.Cell("A" + ++rowNumber).SetValue(PayToCompany);
                cell = ws.Cell("A" + ++rowNumber).SetValue("Date From: ");
                cell = ws.Cell("B" + rowNumber).SetValue(formModel.DateFrom?.ToShortDateString());
                cell = ws.Cell("A" + ++rowNumber).SetValue("Date To: ");
                cell = ws.Cell("B" + rowNumber).SetValue(formModel.DateTo?.ToShortDateString());
                rowNumber++;
                rowNumber++;
                cell = ws.Cell("A" + rowNumber).SetValue("DOC #");
                cell = ws.Cell("B" + rowNumber).SetValue("DATE");
                cell = ws.Cell("C" + rowNumber).SetValue("REF #");
                cell = ws.Cell("D" + rowNumber).SetValue("DEBTOR CODE");
                cell = ws.Cell("E" + rowNumber).SetValue("DEBTOR NAME");
                cell = ws.Cell("F" + rowNumber).SetValue("CURRENCY");
                cell = ws.Cell("G" + rowNumber).SetValue("AMOUNT");
                cell = ws.Cell("H" + rowNumber).SetValue("MATCHED DETAILS");
                //cell = ws.Cell("I" + rowNumber).SetValue("");
                //cell = ws.Cell("J" + rowNumber).SetValue("");
                ws.Range("H" + rowNumber + ":J" + rowNumber).Row(1).Merge();
                cell = ws.Cell("K" + rowNumber).SetValue("BALANCE");
                cell = ws.Cell("L" + rowNumber).SetValue("AGING");



                rowNumber++;

                cell = ws.Cell("G" + rowNumber);
                AMOUNT_BEGIN_CELL = cell.Address;

                cell = ws.Cell("K" + rowNumber);
                BALANCE_BEGIN_CELL = cell.Address;

                cell = ws.Cell("J" + rowNumber);
                MATCHEDAMOUNT_BEGIN_CELL = cell.Address;



                for (int i = 0; i < list.Count; i++)
                {
                    var inv = list[i];


                    cell = ws.Cell("A" + rowNumber).SetValue(inv.INVOICECODE);
                    cell = ws.Cell("B" + rowNumber).SetValue(inv.INVOICEDATE);
                    cell = ws.Cell("C" + rowNumber).SetValue(inv.INVOICEREFNO);
                    cell = ws.Cell("D" + rowNumber).SetValue(inv.DEBTORACCOUNT);
                    cell = ws.Cell("E" + rowNumber).SetValue(inv.DEBTORNAME);
                    cell = ws.Cell("F" + rowNumber).SetValue(inv.FCURRENCYCODE);
                    cell = ws.Cell("G" + rowNumber).SetValue(inv.LOCALTOTALAMOUNT);
                    cell.Style.NumberFormat.Format = "#,##0.00";

                    cell = ws.Cell("K" + rowNumber).SetValue(inv.BALANCE);

                    cell.Style.NumberFormat.Format = "#,##0.00";

                    if (inv.matchedDetailList.Count > 0)
                    {
                        foreach (var matched in inv.matchedDetailList)
                        {
                            cell = ws.Cell("H" + rowNumber).SetValue(matched.DOCNO);
                            cell = ws.Cell("I" + rowNumber).SetValue(matched.DOCDATE);
                            cell = ws.Cell("J" + rowNumber).SetValue(matched.AMOUNT);
                            cell.Style.NumberFormat.Format = "#,##0.00";
                            cell = ws.Cell("L" + rowNumber).SetValue(matched.AGING);
                            rowNumber++;
                        }
                        rowNumber--;
                    }
                    else
                    {

                        cell = ws.Cell("L" + rowNumber).SetValue(inv.AGING);
                    }

                    rowNumber++;
                }
                cell = ws.Cell("G" + (rowNumber - 1));
                AMOUNT_END_CELL = cell.Address;

                cell = ws.Cell("J" + (rowNumber - 1));
                MATCHEDAMOUNT_END_CELL = cell.Address;

                cell = ws.Cell("K" + (rowNumber - 1));
                BALANCE_END_CELL = cell.Address;

                cell = ws.Cell("E" + rowNumber).SetValue("TOTAL");

                cell = ws.Cell("G" + rowNumber);
                cell.FormulaA1 = "SUM(" + AMOUNT_BEGIN_CELL.ToString() + ":" + AMOUNT_END_CELL.ToString() + ")";
                cell.Style.NumberFormat.Format = "#,##0.00";

                cell = ws.Cell("J" + rowNumber);
                cell.FormulaA1 = "SUM(" + MATCHEDAMOUNT_BEGIN_CELL.ToString() + ":" + MATCHEDAMOUNT_END_CELL.ToString() + ")";
                cell.Style.NumberFormat.Format = "#,##0.00";

                cell = ws.Cell("K" + rowNumber);
                cell.FormulaA1 = "SUM(" + BALANCE_BEGIN_CELL.ToString() + ":" + BALANCE_END_CELL.ToString() + ")";
                cell.Style.NumberFormat.Format = "#,##0.00";


                ws.Column("A").Width = 15;
                ws.Column("B").Width = 15;
                ws.Column("C").Width = 15;
                ws.Column("D").Width = 15;
                ws.Column("E").Width = 15;
                ws.Column("F").Width = 15;
                ws.Column("G").Width = 15;
                ws.Column("H").Width = 15;
                ws.Column("I").Width = 15;
                ws.Column("J").Width = 15;

            }
            if (wb.Worksheets.Count > 0)
            {
                MemoryStream ms = GetStream(wb);
                byte[] bytes = ms.ToArray();
                ms.Close();

                await js.SaveAsFileAsync("Invoice_Matching_Listing" + formModel.DateFrom?.ToShortDateString() + "-" + formModel.DateTo?.ToShortDateString(), bytes, "application/vnd.ms-excel");
            }
            else
            {
                await js.InvokeVoidAsync("alert", "No record found.");
            }
        }
    }
    private MemoryStream GetStream(XLWorkbook excelWorkbook)
    {
        MemoryStream fs = new MemoryStream();
        excelWorkbook.SaveAs(fs);
        fs.Position = 0;
        return fs;
    }

    private async Task LoadData()
    {
        companies = await http.GetFromJsonAsync<List<Company>>("api/Navigation/GetCompany");
        debtors = await http.GetFromJsonAsync<List<Debtors>>("api/Qne/GetDebtors?companyCode=" + AppState.selectedCompanyCode);
        area = await http.GetFromJsonAsync<List<Areas>>("api/Qne/GetAreas?companyCode=" + AppState.selectedCompanyCode);
        debtorCategories = await http.GetFromJsonAsync<List<DebtorCategory>>("api/Qne/DebtorCategories?companyCode=" + AppState.selectedCompanyCode);
        salesPersons = await http.GetFromJsonAsync<List<SalesPersons>>("api/Qne/GetSalesPersons?companyCode=" + AppState.selectedCompanyCode);
    }
    protected override async Task OnInitializedAsync()
    {
        if (AppState.CompanyReady())
        {
            await LoadData();
        }
    }
    private async Task AppState_StateChanged(ComponentBase Source, string Property)
    {
        if (Source != this)
        {
            if (AppState.CompanyReady())
            {
                await LoadData();
            }
            await InvokeAsync(StateHasChanged);
        }
    }
    protected override void OnInitialized()
    {
        AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
}
