@page "/StockLedger"
@using System.Text.Json;
@using System.IO
@using ClosedXML.Excel;
@using ICV2_Web.JSHelper
@attribute [Authorize(Roles = "Administrator,User")]
@implements IDisposable
@inject AppState AppState
@inject HttpClient http
@inject IJSRuntime js


<div class="card shadow">
    @if (formModel != null)
    {
        <EditForm Model="formModel" OnSubmit="GenerateReport">
            <div class="card-header bg-secondary text-white">
                Stock Ledger
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="datefrom" class="col-sm-2 col-form-label">Date from</label>
                    <div class="col-sm-10">
                        <InputDate id="datefrom" @bind-Value="formModel.DateFrom" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dateTo" class="col-sm-2 col-form-label">Date to</label>
                    <div class="col-sm-10">
                        <InputDate id="dateTo" @bind-Value="formModel.DateTo" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="card-header bg-secondary text-center text-white">
                Filter
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="salesperson" class="col-sm-2 col-form-label">Stock Code from</label>
                    <div class="col-sm-4">
                        <InputSelect id="stcode" @oninput="StCodeOnchange" @bind-Value="formModel.StockCodes" class="form-control">
  
                                @if (Stocks is not null)
                                {
                                    <option value="">All</option>
                                     @foreach (var item in Stocks)
                                    {
                                    <option value="@item.StockCode">@item.StockCode</option>
                                    }
                                }
                        </InputSelect>
                    </div>
                    <label for="debtor" class="col-sm-2 col-form-label">Batch #</label>
                    <div class="col-sm-4">
                        <InputSelect id="debtor" @bind-Value="formModel.BatchId" class="form-control">
                                @if (batchnumbers is not null)
                                {
                                   <option value="%%">All</option>
                                     @foreach (var item in batchnumbers)
                                    {
                                    <option value="@item.Id">@item.BatchNo</option>
                                    }
                                }
                                else
                                {
                                <option value="%%">All</option>
                                }
                        </InputSelect>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="stockgRoup" class="col-sm-2 col-form-label">Stockgroup</label>
                    <div class="col-sm-4">
                        <InputSelect id="stockgRoup" @bind-Value="formModel.StockGroup" class="form-control">
                            <option value="%%">All</option>
                            @if (StockGroup is not null)
                                {
                                @foreach (var item in StockGroup)
                                    {
                                    <option value="@item.GroupCode">@item.GroupCode</option>
                                    }
                                }
                        </InputSelect>
                    </div>
                    <label for="stockLoc" class="col-sm-2 col-form-label">Location</label>
                    <div class="col-sm-4">
                        <InputSelect id="stockLoc" @bind-Value="formModel.LocationCode" class="form-control">
                            <option value="--ALL--">All</option>
                            <option value="--NONE--">None</option>
                            @if (Location is not null)
                                {
                                @foreach (var item in Location)
                                    {
                                    <option value="@item.LocationCode">@item.LocationCode</option>
                                    }
                                }
                        </InputSelect>
                    </div>
                </div>
            </div>
            <div class="card-header bg-secondary text-center text-white">
                Options
            </div>
            <div class="card-body ">
                <div class="d-flex justify-content-center">
                    <div class="form-check form-check-inline">
                        <InputCheckbox @bind-Value="formModel.IncludeZero" class="form-check-input" id="zero"></InputCheckbox>
                        <label class="form-check-label" for="zero">Include Zero</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputCheckbox @bind-Value="formModel.IncludeInactive" class="form-check-input" id="inac"></InputCheckbox>
                        <label class="form-check-label" for="inac">Include Inactive</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <InputCheckbox @bind-Value="formModel.IncludeStockTransfer" class="form-check-input" id="st"></InputCheckbox>
                        <label class="form-check-label" for="st">Include Stock Transfer</label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-info">Generate Report</button>
                </div>
            </div>
        </EditForm>
    }
</div>

@code {


    STOCKLEDGERWITHBATCHFILTER formModel = new();

    private IEnumerable<StockLocations> Location { get; set; }
    private IEnumerable<StockGroups> StockGroup { get; set; }
    private IEnumerable<Stocks> Stocks { get; set; }
    private List<stockbatchnumbers> batchnumbers { get; set; }
    private string CompCode { get; set; }

    private async Task StCodeOnchange(ChangeEventArgs e)
    {
        if(e.Value.ToString() != string.Empty)
        {
            var stockId = Stocks.First(x => x.StockCode == e.Value.ToString()).Id;

            var httpRequest = await http.GetAsync($"api/Qne/GetBatchByStockId?companyCode={CompCode}&StockId={stockId}");

            if (httpRequest.IsSuccessStatusCode)
            {
                var responseString = await httpRequest.Content.ReadAsStringAsync();

                batchnumbers = JsonSerializer.Deserialize<List<stockbatchnumbers>>(responseString,
                 new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

                //if(data.Count > 0)
                //{
                //    foreach(var item in data)
                //    {
                //        batchnumbers.Add(item);
                //    }
                //}
            }
        }
        else
        {
            batchnumbers = new();
        }
    }

    private async Task GenerateReport()
    {
        formModel.CompanyCode = AppState.selectedCompanyCode;

        var httpRequest = await http.PostAsJsonAsync("api/Report/GenerateStockLedgerWBatch", formModel);

        if (httpRequest.IsSuccessStatusCode)
        {
            var responseString = await httpRequest.Content.ReadAsStringAsync();

            //Console.WriteLine(responseString);
            var data = JsonSerializer.Deserialize<List<STOCKLEDGERWITHBATCHRESULT>>(responseString,
              new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });

            await GenerateExcel(data);
        }
    }
    private async Task GenerateExcel(List<STOCKLEDGERWITHBATCHRESULT> data)
    {
        using (XLWorkbook wb = new XLWorkbook())
        {

            int rowNumber = 0;

            IXLWorksheet ws = wb.Worksheets.Add("StockLedger");
            IXLCell cell;

            cell = ws.Cell("A" + ++rowNumber).SetValue(formModel.CompanyCode);
            cell.Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Center);
            cell.Style.Font.Bold = true;

            var datetimeTo = formModel.DateTo == null ? DateTime.Now : formModel.DateTo;

            if (formModel.DateFrom is null)
            {

                cell = ws.Cell("A" + ++rowNumber).SetValue("As of " + datetimeTo?.ToString("MMM dd, yyyy"));
                cell.Style.Font.Bold = true;
            }
            else
            {

                cell = ws.Cell("A" + ++rowNumber).SetValue("Date From ");
                cell.Style.Font.Bold = true;
                cell = ws.Cell("B" + rowNumber).SetValue(formModel.DateFrom?.ToShortDateString());
                cell.Style.Font.Bold = true;

                cell = ws.Cell("A" + ++rowNumber).SetValue("Date To ");
                cell.Style.Font.Bold = true;
                cell = ws.Cell("B" + rowNumber).SetValue(formModel.DateTo?.ToShortDateString());
                cell.Style.Font.Bold = true;

            }

            #region Excel header
            cell = ws.Cell("A" + ++rowNumber).SetValue("STOCKCODE");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("B" + rowNumber).SetValue("STOCK NAME");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("C" + rowNumber).SetValue("BATCHNO");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("D" + rowNumber).SetValue("DATE MANUFACTURED");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("E" + rowNumber).SetValue("DATE OF EXPIRATION");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("F" + rowNumber).SetValue("REF TYPE");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("G" + rowNumber).SetValue("REF #");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("H" + rowNumber).SetValue("REF DATE");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("I" + rowNumber).SetValue("IN");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("J" + rowNumber).SetValue("OUT");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("K" + rowNumber).SetValue("BALANCE");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("L" + rowNumber).SetValue("UOM");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("M" + rowNumber).SetValue("U.COST");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("N" + rowNumber).SetValue("SELLING PRICE");
            cell.Style.Font.Bold = true;

            cell = ws.Cell("O" + rowNumber).SetValue("LOCATION CODE");
            cell.Style.Font.Bold = true;

            #endregion
            foreach (STOCKLEDGERWITHBATCHRESULT result in data)
            {
                rowNumber++;
                cell = ws.Cell("A" + rowNumber).SetValue(result.StockCode);
                cell = ws.Cell("B" + rowNumber).SetValue(result.StockName);
                cell = ws.Cell("C" + rowNumber).SetValue(result.BatchNo);
                cell = ws.Cell("D" + rowNumber).SetValue(result.BatchNoManufacturingDate);
                cell = ws.Cell("E" + rowNumber).SetValue(result.BatchNoExpiryDate);
                cell = ws.Cell("F" + rowNumber).SetValue(result.DocType);
                cell = ws.Cell("G" + rowNumber).SetValue(result.DocumentCode);
                cell = ws.Cell("H" + rowNumber).SetValue(result.DocumentDate);
                cell = ws.Cell("I" + rowNumber).SetValue(result.StockIn);
                cell = ws.Cell("J" + rowNumber).SetValue(result.StockOut);
                cell = ws.Cell("K" + rowNumber).SetValue(String.Empty);
                cell = ws.Cell("L" + rowNumber).SetValue(result.BaseUOM);
                cell = ws.Cell("M" + rowNumber).SetValue(result.PurchaseCost);
                cell = ws.Cell("N" + rowNumber).SetValue(result.SellingPrice);
                cell = ws.Cell("O" + rowNumber).SetValue(result.LocationCode);

            }

            ws.Column("A").Width = 15;
            ws.Column("B").Width = 15;
            ws.Column("C").Width = 15;
            ws.Column("D").Width = 15;
            ws.Column("E").Width = 15;
            ws.Column("F").Width = 15;
            ws.Column("G").Width = 15;
            ws.Column("H").Width = 15;
            ws.Column("I").Width = 15;
            ws.Column("J").Width = 15;
            ws.Column("K").Width = 15;
            ws.Column("L").Width = 15;
            ws.Column("M").Width = 15;
            ws.Column("N").Width = 15;
            ws.Column("O").Width = 15;


            if (wb.Worksheets.Count > 0)
            {
                MemoryStream ms = GetStream(wb);
                byte[] bytes = ms.ToArray();
                ms.Close();

                await js.SaveAsFileAsync("StockLedger_" + DateTime.Now.ToShortDateString().ToString(), bytes, "application/vnd.ms-excel");
            }
            else
            {
                await js.InvokeVoidAsync("alert", "No record found.");
            }

        }
    }

    private MemoryStream GetStream(XLWorkbook excelWorkbook)
    {
        MemoryStream fs = new MemoryStream();
        excelWorkbook.SaveAs(fs);
        fs.Position = 0;
        return fs;
    }

    private async Task LoadData()
    {
        CompCode = AppState.selectedCompanyCode;

        StockGroup = await http.GetFromJsonAsync<IEnumerable<StockGroups>>("api/Qne/GetStockGroups?companyCode=" + CompCode);
        Location = await http.GetFromJsonAsync<IEnumerable<StockLocations>>("api/Qne/GetStockLocations?companyCode=" + CompCode);
        Stocks = await http.GetFromJsonAsync<IEnumerable<Stocks>>("api/Qne/GetStockItems?companyCode=" + CompCode);
    }


    protected override async Task OnInitializedAsync()
    {
        if (AppState.selectedCompanyCode != "404")
        {
            await LoadData();
        }
    }
    private async Task AppState_StateChanged(ComponentBase Source, string Property)
    {
        if (Source != this)
        {
            if (AppState.selectedCompanyCode != "404")
            {
                await LoadData();
            }
            await InvokeAsync(StateHasChanged);
        }
    }
    protected override void OnInitialized()
    {
        AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
}
